{% extends "admin.html" %}

{% block corpo %}

<div class="mx-5">
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("import_iscritti") }}">Import Iscritti BC</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for("import_laboratori") }}">Import Laboratori</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Gestione Iscrizioni</a>
  </li>
</ul>
</div>

<div class="m-5" x-data="excelUploader()">

    <input
        class="form-control"
        type="file"
        accept=".xlsx,.xls"
        @change="loadFile($event)"
    >

    <div class="d-flex justify-content-center">
        <button
            class="btn my-2 btn-success"
            @click="upload()"
            :disabled="formData.lab_mattino.length === 0"
        >
            Carica i dati
        </button>
    </div>

    <table class="table" x-show="formData.lab_mattino.length > 0">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Titolo</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Posti</th>
        </tr>
    </thead>
    <tbody>
        <template x-for="row in formData.lab_mattino" :key="row.id">
            <tr>
                <td x-text="row.id"></td>
                <td x-text="row.titolo"></td>
                <td x-text="row.descrizione"></td>
                <td x-text="row.posti"></td>
            </tr>
        </template>
    </tbody>
    </table>

    <table class="table" x-show="formData.lab_pomeriggio.length > 0">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Titolo</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Posti</th>
        </tr>
    </thead>
    <tbody>
        <template x-for="row in formData.lab_pomeriggio" :key="row.id">
            <tr>
                <td x-text="row.id"></td>
                <td x-text="row.titolo"></td>
                <td x-text="row.descrizione"></td>
                <td x-text="row.posti"></td>
            </tr>
        </template>
    </tbody>
    </table>

</div>

<script>
function excelUploader() {
    return {
          formData: {
              lab_mattino: [],
              lab_pomeriggio: [],
          },

        async loadFile(event) {
            const file = event.target.files[0];

            if (!file) {
                return;
            }

            const data = await file.arrayBuffer();

            const workbook = XLSX.read(data, {
                type: 'array'
            });

            const firstSheet = workbook.Sheets["mattino"];
            const secondSheet = workbook.Sheets["pomeriggio"];

            const json_mattino = XLSX.utils.sheet_to_json(firstSheet);

            this.formData.lab_mattino = json_mattino
                .filter(row => row.id && row.titolo && row.descrizione && row.posti)
                .map(row => ({
                    id: row.id,
                    titolo: row.titolo,
                    descrizione: row.descrizione,
                    posti: row.posti
                }));

            const json_pomeriggio = XLSX.utils.sheet_to_json(secondSheet);

            this.formData.lab_pomeriggio = json_pomeriggio
                .filter(row => row.id && row.titolo && row.descrizione && row.posti)
                .map(row => ({
                    id: row.id,
                    titolo: row.titolo,
                    descrizione: row.descrizione,
                    posti: row.posti
                }));

            console.log(this.formData);
        },

        async upload() {
            try {
                const response = await fetch('/import_laboratori', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.formData)
                });

                if (!response.ok) {
                    throw new Error('Errore upload');
                }

                alert('Upload completato');
            } catch (err) {
                console.error(err);
                alert('Errore durante l\'upload');
            }
        }
    }
}
</script>

{% endblock %}